/* **********************************************************
 * add custom styles after imports below
 * ********************************************************** */

@import "default.css";
@import "layout.css";
@import "menu.css";
@import "queries.css";

/* **********************************************************
 * to import a font, use the @import option, you can find
 * lots of font options at fonts.google.com for example.
 * ********************************************************** */


 
 @import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Syne+Mono&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


html {
    font-family: 'Roboto Mono', sans-serif;
}



/* **********************************************************
 * Customizing
 *
 * changes to default settings like colors, typography,
 * spacing can be made in default.css
 *
 * other custom settings, start below
 *
 * ********************************************************** */

* {
    line-height: 130%;
    font-weight: 400;
    letter-spacing: -0.25px;
    /* text-shadow:0.5px 0.5px 5px, 0.5px 0.5px 5px; */

    
}

body {
    background-color: var(--color-bg);
    color: var(--color-fg);
}

@media (orientation: portrait) {
    * {
        font-size: 16px;
    }
}
